.lang1{
    width: 3rem;
    height: 2rem;
    font-size: 15px;
    font-weight: 600;
    border: none;
    border-radius: 10px ;
    -webkit-border-radius: 10px ;
    -moz-border-radius: 10px ;
    -ms-border-radius: 10px ;
    -o-border-radius: 10px ;
}