@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Josefin Sans", sans-serif;
}

:root {
  --main: #486873;
  --main2: #1e3a44;
  --black: #000000;
  --bg: linear-gradient(178.62deg, #010101 51.25%, #141C1E 93.86%, rgba(20, 28, 30, 0.48) 171.53%);
  --main3: #3B565F;
  --main4: #5C828F;
 
}

body,
html {
  overflow-x: hidden;
  width: 100%;
}

/* Scroll */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: var(--main2);
}

::-webkit-scrollbar-thumb {
  background: var(--main);
  border-radius: 100px;
 
}