.part1 p {
    color: white;
    line-height: 3rem;
    font-size: 20px;
    width: 25rem;
}

.radio-player p {
    color: white;
    font-size: 20px;
    line-height: 3rem;
    padding-top: 2rem;

}

.part1 {
    display: flex;
    gap: 2rem;
    align-items: center;
}

.part1 img {
    width: 22rem;
    border-radius: 15px;

}

.radio-player {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10rem;
    background: linear-gradient(180deg, #010101 0%, #141C1E 39.9%, #2A3C41 66.98%, #486873 100%);
    margin-top: 5rem;
    padding-bottom: 5rem;
}

.player1 {
    width: 44rem;
    padding-inline: 1rem;
    height: 47rem;
    background-color: var(--main);
    border-radius: 10px;
}


@media (max-width: 768px) {
    .part1 p {
        line-height: 3rem;
        font-size: 20px;
        width: 18rem;
        padding-inline: 1rem;

    }
    
    .radio-player p {
        font-size: 15px;
        padding-inline: 1rem;
    }
    
    .part1 {
        display: block;
        gap: 2rem;
    }
    
    .part1 img {
        width: 20rem;
        height: 17rem;
        object-fit: cover;
        padding-inline: 0.3rem;
    }
    
    .radio-player {
        display: block;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 5rem;
       
    }
    
    .player1 {
        width: 20rem;
        padding-inline: 0rem;
        height: 67rem;
     
}
    

}

@media screen and (min-width: 768px) and (max-width: 1024px) {

    .part1 p {
        color: white;
        line-height: 3rem;
        font-size: 18px;
        padding-inline: 1rem;

    }
    
    .radio-player p {
        font-size: 18px;
        line-height: 3rem;
        padding-top: 2rem;
        padding-inline: 1rem;

    
    }
    
    .part1 {
        display: flex;
    }
    
    .part1 img {
        width: 20rem;
        height: 17rem;
        object-fit: cover;
        padding-inline: 0.3rem;

    
    }
    
    .radio-player {
        display: block;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 5rem;
    }
    
    .player1 {
        width: 40rem;
        padding-inline: 0rem;
        height: 40rem;
}

}